* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgb(57, 50, 50);
    display: grid;
    padding: 3rem;
    /* row-gap: 1rem;
    column-gap: 1rem; */
    gap: 1rem;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: repeat(6, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(1, 1fr);
}

.item {
    background-color: rgb(72, 72, 168);
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}




@media (min-width: 768px) {

    .container{
        grid-template-rows: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    }

    .header,
.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);

}

.sidebar {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

}

/* .sidebar-right{
    grid-row-start: -4;
    grid-row-end: -2;
} */

.item-3 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
}