@import url('<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2536eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0.1rem;
    background-color: var(--background-color);
}

.header-content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.525rem;
    color: var(--text-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.logo-icon {
    width: 1.5rem;
    height: 5rem;
}

.logo-text {
    font-size: 2rem;
    font-weight: bold;
}

.nav {
    display: none;
    gap: 1.5rem;
}

.nav-link {
    color: #718096;
    font-size: 1rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover {
    color: var(--link-color);
}

.contact-button {
    display: none;
    color: var(--background-color);
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 0.625rem 1.5rem;
    border: none;
    border-radius: 0.325rem;
    transform: all 0.1s;
    font-weight: 600;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #2536eb;
}

.menu-button {
    display: none;
    border: none;
    border-radius: 0.354rem;
    background-color: var(--background-color);
    font-size: 1rem;
    padding: 0.5rem 0.9rem;
    font-weight: 600;

}

.menu-icon {
    width: 1.5rem;
    height: 1.5rem;
}


.main-section {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    gap: 2rem;
    align-items: center;
    margin: 0 auto;
}

.left-content {
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.section-label {
    font-size: 1.15rem;
    color: var(--primary-color);
    font-weight: 600;
}

.section-title {
    font-size: 2rem;
    color: var(--text-color);
    padding: 1.1rem;
}

.section-discription {
    font-size: 1.21rem;
    color: var(--gray);

}

.button-group {
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.start-button,
.take-tour {
    color: var(--background-color);
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 0.625rem 1.5rem;
    border: none;
    border-radius: 0.325rem;
    transform: all 0.1s;
    font-weight: 600;
    cursor: pointer;
}

.take-tour {
    background-color: var(--dark-gray);
}

.start-button:hover {
    background-color: #5254f8;
}

.take-tour:hover {
    background-color: var(--gray);
}

.right-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container {
    border: none;
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rbg (0, 0, 0, 0.1);
    height: 50vh;
}

.section-image {
    width: 100%;
    height: 100%;
}

.trusted-section {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    animation: slideFrommLeft 2s ease forwards;
    opacity: 0;
}

@keyframes slideFrommLeft {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.trusted-containter {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trusted-company-wrap {
    border: none;
    border-radius: 0.565rem;
    padding: 1.5rem 2rem;
    background-color: #ececec;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-direction: row; */
    gap: 3rem;
}

.t-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.goole-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.google-text {
    font-size: 0.8rem;
    font-weight: 600;
    color: #9ca3af;
}

.company-title {
    font-size: 2rem;
    font-weight: bold;
}

.feature-container {
    width: 100%;
    height: 100%;
    background-color: var(--light-gray);
    margin: 0rem 0rem 2rem 0rem;
    padding: 2rem 0rem;
}

.card-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.card-title {
    font-size: 2rem;
    color: var(--text-color);
}

.card-subtitle {
    font-size: 0.94rem;
    color: var(--gray);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card-heading-box {
    display: flex;
    flex-direction: column;
}

.card-wrapper {
    padding: 2rem 2rem;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0.625rem;
    cursor: pointer;
}

.learn-icon {
    width: 30px;
    height: 30px;
    background-color: var(--background-color);
    border: none;
    border-radius: 1rem;
}

.learn-img {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
}

.card-wrap-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.90rem;
}

.card-wrap-box {
    color: var(--background-color);
}

.card-wrap-subtitle {
    font-size: 0.95rem;
    font-weight: 500;
}

/* .item-wrap1{
    
} */
.item-wrap2 {
    background-color: #fe567d;
}

.item-wrap3 {
    background-color: #fbb74e;
}

.item-wrap4 {
    background-color: #3bb6ba;
}

.item-wrap5 {
    background-color: #6ca652;
}

.item-wrap6 {
    background-color: #5a5684;
}

.testimonial-container {
    /* width: 100%; */
}

.testimonial-content {
    max-width: 1100px;
    margin: 0 auto;
    background-color: var(--background-color);
    padding: 0 2rem;
}

.testimonial-title {
    font: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px solid var(--gray);
    padding: 0.8rem;
    gap: 1rem;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.testimonial-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    border: 1px solid blue;
}

.testimonial-avatar img {
    height: 4rem;
    width: 4rem;
}

.testimonial-text {
    font-size: 0.80rem;
    color: #555;
}


.testimonial-name {
    font-size: 1rem;
    color: var(--primary-color);
}

.testimonial-disc {
    padding-top: 0.4rem;
    font-size: 0.8rem;
    color: #777;
}

/* News section Start */

.newsLetter-container {
    background-color: var(--background-color);
    padding: 3rem 2rem;
    width: 1100px;
    height: 60vh;
    margin: 0 auto;
}

.newsLetter-content {
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.news-left {
    width: 50%;
    height: 100%;
    position: relative;
    /* display: none; */
}

.news-left img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    width: 50%;
    height: 100%;
}

.news-letter {
    font-size: 2.1em;
    color: var(--primary-color);
    font-weight: bold;
}

.news-desc {
    text-align: left;
    color: #777;
    font-size: 0.9rem;
}

.news-form {
    display: flex;
    margin-bottom: 1rem;
    gap: 0.6rem;
}


.news-email {
    background-color: var(--background-color);
    color: #333;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

.news-email:focus {
    border-color: #2536eb;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
}

.news-send-button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.news-send-button:hover {
    background-color: var(--link-color);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4);
}

.privacy-policy {
    text-align: left;
    font-size: 0.7rem;
    color: #777;
}

.news-link {
    color: #2536eb;
    text-decoration: underline;
}

/* News section End */

/* Footer section start */
.footer-container {
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
}

.footer {
    max-width: 1100px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.footer-top {
    width: 34%;
}




/* Footer section end */



/* Mobile Responsive Design */


/* @media screen and (min-width:768px){
    
} */

@media screen and (min-width:768px) {
    .contact-button {
        display: block;
    }

    .nav {
        display: flex;
    }

    .main-section {
        flex-direction: row;
        margin-top: 2rem;
    }

    .left-content {
        max-width: 50%;
        text-align: left;
    }

    .button-group {
        justify-content: start;
        padding-left: 0;
    }

    .section-title {
        padding-left: 0;
        font-size: 3.2rem;
    }

    .section-label {
        font-size: 1rem;
    }

    .img-container {
        height: 60vh;
    }

    .section-discription {
        font-size: .95rem;
        width: 78%;
        columns: var(--gray);
    }


}

@media screen and (max-width:768px) {
    .menu-button {
        display: block;
    }

    .card {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-container {
        width: auto;
        margin: 0 1rem;
    }

    .news-left {
        display: block;
    }

}


@media screen and (min-width:650px) {

    .trusted-company-wrap {
        grid-template-columns: repeat(4, 1fr);
    }

    .news-left {
        display: block;
    }

    /* .newsLetter-container {
        width: auto;
        margin: 0 1rem;
    } */
}